{% extends "blog/base.html" %}
{% load static %}
{% block content %}
        <div id="main" class="site-main">
<div class="layout-medium"> 
            <div id="primary" class="content-area">
             
            
            
            
             
        
        	

            
                    <!-- site-content -->
                    <div id="content" class="site-content" role="main"> <!-- .hentry -->
                        <article class="hentry page page-404">
                        
                        	
                            <!-- .entry-header -->   
                            <header class="entry-header">
                                <h1 class="entry-title">sorry, page not found</h1>
                            </header>
                            <!-- .entry-header -->   
                            
                            
                            <!-- .entry-content -->
                            <!-- <div class="entry-content">
                            	
                                <p>But you can always search for what you are looking.</p>                                
                                
                                <form role="search" method="get" class="search-form" action="http://themes.pixelwars.org/impose/">
                                    <label>
                                        <span class="screen-reader-text">Search for:</span>
                                        <input type="search" class="search-field" placeholder="enter keyword" value="" name="s" title="Search for:">
                                    </label>
                                    <input type="submit" class="search-submit" value="Search">
                                </form>
                               
                            </div>
                        </article> -->
                        <!-- .hentry -->
                	
                    
               		</div>
                    <!-- site-content -->
            
            </div>
                <!-- primary -->    
            
            
            	
            
            
            </div>
            <!-- layout -->
        
        
        </div>
        <!-- site-main -->
        
    {% endblock content %}